.mapStyleContainer {
  margin: 0;
  left: 0;
  padding: 0;

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
  }

  .capitalize {
    text-transform: capitalize;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  h1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #281414;
    z-index: 10;
    margin: 0;
    padding: 0;
    font-weight: 200;
  }

  img {
    max-width: none;
  }

  .search {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
  }

  .search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
  }

  .locate {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
  }
  .locate img {
    width: 30px;
    cursor: pointer;
  }

  .add-a-location {
    position: absolute;
    bottom: 2rem;
    right: 4.5rem;
    z-index: 10;
    margin: 0;
    padding: 0;
    font-weight: 200;
  }

  .filter-search-form{
    display: inline-flexbox;
    position:fixed;
    background-color: rgb(237, 241, 245);
    border-radius: 2rem;
    box-sizing: content-box;
    width: 12%;
    z-index: 10;
    bottom: 4.5rem;
    right: 1rem;
  }
}
