@import '_config';
@import '_utilities';

.form {
  &-group {
    margin: 1.5rem 0;
    input,
    select,
    textarea {
      display: block;
      width: 100%;
      padding: 0.4rem;
      font-size: 1.2rem;
      border: 1px solid #ccc;
    }
  }
  &-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
  }
}