@import "_config";

// Container
section.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  section.container.user-profile {
    @media only screen and (max-width: 600px) {
      display: flex;
      justify-content: center;
    }
  }
}

b {
  font-weight: 2000;
}

section.mapContainer {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  top: 80px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none; // for firefox
  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    width: 100vw;
    height: calc(100vh - 80px);
    scroll-snap-align: start;
  }
}

.pr {
  padding-right: 2vh;
}

.form-input-width {
  width: 20vw;
  min-width: 200px;
}

.wrap-checkboxes {
  @media only screen and (max-width: 500px) {
    display: flex;
    flex-wrap: wrap;
  }
}

// #someselector {
//   all: initial;
//   * {
//     all: unset;
//   }
// }

// section.container .map {
//   max-width: none;
//   margin: 0;
//   width: 100%;
//   padding: 0;
//   height: calc(100vh - 80px);
//   position: relative;
//   scroll-behavior: smooth;
//   scroll-snap-type: y mandatory;
//   scrollbar-width: none; // for firefox
//   &::-webkit-scrollbar {
//     display: none;
//   }
// }

// Text Styles
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.primary-text {
  color: $primary-color;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 0;
}

// Backgrounds
.background {
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
    border: #ccc 1px solid;
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background(#fff);
    border: #ccc 1px solid;
  }
}

// Buttons
.btn {
  display: inline-block;
  background: $light-color;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5;
  outline: none;
  transition: all 0.2s ease-in;

  &.btn-primary {
    @include set-background($primary-color);
    &:hover {
      background: lighten($primary-color, 10%);
    }
  }

  &.btn-dark {
    @include set-background($primary-color);
    &:hover {
      background: lighten($dark-color, 5%);
    }
  }

  &.btn-success {
    @include set-background($success-color);
    &:hover {
      background: lighten($success-color, 5%);
    }
  }

  &.btn-danger {
    @include set-background($danger-color);
    &:hover {
      background: lighten($danger-color, 5%);
    }
  }
  &:hover {
    background: lighten($dark-color, 20%);
    color: #fff;
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  // for use with background img
}

.custom-select {
  position: relative;
}

.heart {
  padding: 0;
  font-size: 35px;
  position: relative;
  bottom: 0.5rem;
  color: rgb(182, 173, 173);
  margin: 0;
  width: 70px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    color: rgb(192, 39, 39);
  }
  &.active {
    color: rgb(192, 39, 39);
  }
}

button.btn.btn-link.btn-sm {
  color: transparent;
  background-color: transparent;
  // outline: transparent;
  padding: 0;
  margin: 0;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 255, 0.2);
  border: none;
  .btn:focus {
    box-shadow: none;
  }
  .btn-check:focus {
    box-shadow: none;
  }
  // .btn-check:focus + .btn,
  // .btn:focus {
  //   // outline: 0;
  //   box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
  // }
}
