@import '_config';
@import '_utilities';
@import '_form';

.app {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  background-color: #fff;
  color: #333;
  // max-width: 1100px;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

a.sign {
  text-decoration: none;
  color: $primary-color;
}

h1.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: $primary-color;
}

// Landing
.landing {
  position: relative;
  background: url('./flying-with-dog-2.jpeg') no-repeat center center/cover;
  height: 100vh;

  &-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

// Profile Page
.profile-grid {
  display: grid;
  grid-template-areas: 'top top'
    'about about'
    'favorites reviews';
  grid-gap: 1rem;

  .profile-top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1.large {
      color: #fff;
      margin: 0;
    }
  }

  .profile-about {
    grid-area: about;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: #ccc 1px solid;

    h2 {
      text-align: center;
      padding-bottom: 1rem;
      margin: 0;
    }
  }

  .profile-favorites {
    grid-area: favorites;

    h2 {
      text-align: center;
      padding: 1rem;
    }

    .line {
      padding: 0;
    }
  }

  .profile-favorites > div,
  .profile-reviews > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: #ccc 1px dotted;

    &:last-child {
      border: none;
    }

    p {
      margin: 1rem;
    }
  }

  .profile-reviews {
    grid-area: reviews;

    h2 {
      text-align: center;
      padding: 1rem;
    }

    .line {
      padding: 0;
    }
  }
}

.form {
  &-group {
    margin: 1.5rem 0;
    input,
    select,
    textarea {
      display: block;
      width: 100%;
      padding: 0.4rem;
      font-size: 1.2rem;
      border: 1px solid #ccc;
    }
  }
  &-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
  }
}

// Places Page
.places-grid {
  display: grid;
  grid-template-areas: 'top top'
    'about about'
    'reviews reviews';
  grid-gap: 1rem;

  .places-top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1.large {
      color: #fff;
      margin: 0;
    }
  }

  .places-about {
    grid-area: about;

    h2, h4 {
      text-align: center;
      padding: 0.5rem;
      margin: 0;
    }

    .line {
      height: 1px;
      padding: 0;
    }
  }

  .places-about > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    border-bottom: #ccc 1px solid;
  }

  .places-reviews > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: #ccc 1px dotted;

    &:last-child {
      border: none;
    }
  }

  .places-reviews {
    grid-area: reviews;

    h2 {
      text-align: center;
      padding: 0.5rem;
      margin: 0;
    }

    h4 {
      padding: 0;
    }

    .line {
      padding-bottom: 0;
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $primary-color;
      font-size: large;
    }

    p {
      font-size: medium;
      margin: 0;
    }
  }
}
